{% extends 'layout.html.twig' %}

{% block title %}
  Tasks Index
{% endblock %}

{% block page_contents %}
  <h1 class="mb-3 p-2">
    Tasks Index
  </h1>

  <div class="p-2">
    <a class="btn btn-primary" href="{{ path('task_create') }}">
      Crear nueva tarea
    </a>
  </div>
  <div class="d-flex flex-wrap justify-content-center">  
    {% for task in tasks %}
      <div class="p-2 taskContainer">
      <a href="{{path('task_edit', {taskId: task.id})}}" style="color: unset;text-decoration: none;">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">
              {{ task.name }}
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">
              Card subtitle
            </h6>
            <p class="card-text">
              {{ task.description }}
            </p>
          </div>
          <a id="{{ task.id }}" onclick="completeTask(this.id)" class="btn btn-primary completeButton">
            Completar
          </a>
        </div>
        </a>
      </div>
    {% endfor %}
  </div>
{% endblock %}

{% block javascripts %}
  <script>

      function completeTask(id){
        let url = "{{ (path('task_complete', {'id': 'ReplaceMeWithCorrectValue'})) }}";
        url = url.replace("ReplaceMeWithCorrectValue", id);

        let item = document.getElementById(id);
        let taskContainer = item.closest('.taskContainer');

         $.ajax({ 
           url: url, })
           .done(function(){
                $(taskContainer).hide();
            });          
        }
  </script>
{% endblock %}
